:root {
    --main-color: #14213D;
    --second-color: #E6E6E6;
    --third-color: #FCA311;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Box sizing will toggle padding to fall inside or outside */
    /* font-family: 'Roboto', sans-serif; */
    
}

.top-container {
    border-bottom: 15px solid var(--main-color);
    display: flex;
    width: 100%;
    height: 70vh;
}
/* -------------------------------------------------------- */
/* NAVIGATION & LINKS */

#nav-menu {
    text-align: right;
}

#nav-menu li {
 display: inline-block;
 margin: 10px;
 font-size: 16px;
 font-weight: 400;
 font-family: 'DM Mono', monospace;
}

li {
    list-style: none;
    font-family: 'Jost', sans-serif;
    color: var(--second-color);
    text-decoration: none;
}

#nav-menu li:hover {
    color: var(--third-color);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h2 {
    font-family: 'Jost', sans-serif;
    font-size: 30pt;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body {
    background-color: #E6E6E6;
}


/* -------------------------------------------------------- */
/* LEFT SIDE */

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: .3;
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.main-title {
    font-size: 3rem;
    text-align: left;
    font-family: 'DM Mono', monospace;
}

.title {
    position: relative;
    font-family: 'Jost', sans-serif;
    color: var(--second-color);
}

.circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25vw;
    width: 25vw;
    
}

.outer-circle {
    display: flex;
    position: absolute;
    align-self: center;
    background-color: var(--second-color);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    border-style: solid;
    border-width: 0.9em;
    border-color: var(--main-color);
    left: 43%;
    z-index: 1;
    /* box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.25), -8px -8px 15px 0 #14203D; */

}

.profile-img {
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    height: 60%;
    width: 60%;
    border-style: solid;
    border-width: 1.7em;
    border-color: var(--main-color);
    left: 37.5%;
    z-index: 2;
    box-shadow: 17px 17px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 #ffffff;

}

.header-p{
    font-family: 'DM Mono', monospace;
    color:var(--second-color);
    text-align: center;
}
/* -------------------------------------------------------- */
/* RIGHT SIDE */

.bg {
    animation:slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #14213D 50%, #FCA311 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:20s;
  }
  
  .bg3 {
    animation-duration:20s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: .7;
    /* background-color:var(--second-color); */
    width: auto;
    text-align: center;
    justify-content: center;
    margin-top: 0%;
}

.header-hero {
    display: flex;
    height: 100%;
    text-align: left;
    padding-left: 5%;
}

#title-hero {
    font-size: 5em;
    text-align: left;
    padding-left: 15%;
    color: var(--second-color);
    font-family: 'DM Mono', monospace;
}
.hero-text {
    color: #FCA311;
    font-family: 'DM Mono', monospace;
}
.center {
    text-align: center;
}
.subtitle {
    text-align: left;
    color: var(--second-color);
    font-family: 'DM Mono', monospace;
    font-size: small;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.about-me-blurb {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    color: var(--second-color);
    font-family: 'DM Mono', monospace;
    width: 100%;
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 15%;

}
/* -------------------------------------------------------- */
/* BUTTON CONFIGS */

#download-btn {
    background-color: var(--third-color);
    border: 25px;
    padding: 10px 40px;
    border-radius: 25px;
    color: var(--main-color);
    text-decoration: none;
    /* box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -5px -5px 5px 0 #f8f8f8; */

}

#download-btn:hover {
    background-color: #D6820E;
    /* font-weight: 600; */
}

.btn {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color:var(--main-color);
    padding: 5%;
    margin-top: 25px;
    border-radius: 10%;
    color: var(--second-color);
    text-decoration: none;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25), -6px -6px 12px 0 #f8f8f8;
    margin-bottom: 25px;
    align-self: center;
}

.btn:hover {
    background-color: var(--third-color);
    /* font-weight: 600; */
}

/* ------------------------------------------- */
/* SOCIAL BUTTONS & TEXT */

.intro-text {
    color: var(--main-color);
    flex: 1;
    align-self: center;
}

.social {
    text-align: right;
    padding: 5px;
    align-self: center;
    background-color: var(--third-color);
    padding: 15px 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.icon {
    fill: green;
}

.follow-me-text {
    font-family: 'DM Mono', monospace;
    writing-mode: vertical-lr;
    padding-bottom: 15px;
    font-size: 12pt;
    color: var(--main-color);
}
/* ------------------------------------------- */
/* SKILLS SECTION */

.skills-section {
    background-color: #E6E6E6;
    font-family: 'Jost', sans-serif;
    font-size: 30pt;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 33%;
}
.skill-boxes {
    display: block;
    font-family: 'DM Mono', monospace;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    font-size: 1rem;
    /* justify-content: center; */
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 12px 0 #f8f8f8;
    border-radius: 25px;
    padding: 0 15px;
    margin: 2%;
}

.skills-title {
    margin-bottom: 5px;
    font-family: 'DM Mono', monospace;
}

.html, .css, .javascript, .react, .bootstrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 150px;
    padding: 5px;
    margin: 2%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid var(--second-color);
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 12px 0 #f8f8f8;
    transition: transform 0.04s;
    flex: 1 1 0px; /* flex: 1 1 20em (shorthand for flex-grow: 1, flex-shrink: 1, flex-basis: 20em) */
    border-radius: 15px;
}

.html:hover, .css:hover, .javascript:hover, .react:hover, .bootstrap:hover {
    transform: scale(1.02);
}
/*
.skills-text {
    width: auto;
    display: flex;
    align-items: center;
    align-self: center;
}
*/
/* ------------------------------------------- */
/* PORTFOLIO SECTION */

.portfolio-section {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color: var(--main-color);
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 33%;

}

.portfolio-title {
    font-family: 'DM Mono', monospace;
    /* display: flex; */
    margin-top: 20px;
    padding: 0 2em;
    margin-bottom: 40px;
    color: var(--second-color);

}

.portfolio-grid {
    display: flex;
    flex-flow: row wrap;
}

.portfolio-pics {
    padding: 5px;
    align-content: center;
    justify-content: center;
    background-color: var(--main-color);
    width: 20%;
    height: 20%;
    
   
    /* align-content: center;
    justify-items: center; */
}

/* ------------------------------------------- */
/* EDUCATION SECTION */

.education {
    background-color: var(--third-color);
    width: 100vw;
    height: 50vh;
    margin-top: 0;
    padding: 0 2em;
    margin-bottom: 0;
    color: var(--main-color);
}

.education-title {
    font-family: 'DM Mono', monospace;
    color: var(--main-color);
}
/* ------------------------------------------- */
/* FOOTER SECTION */

.contact {
    background-color: var(--second-color);
    height: 30vh;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0;
}

.contact-title {
    font-family: 'DM Mono', monospace;
    color: var(--main-color);
}

/* ------------------------------------------- */
/* RESPONSIVE ATTRIBUTES */

@media (max-width: 900px) {
    .top-container {
        flex-direction: column;
    }
    .profile-img {
        align-self: center;
        margin-bottom: 2%;
        left: 0;
        height: auto;
        width: 25vw;
        border-style: solid;
        border-width: 0.25em;
        border-color: var(--second-color);
        position: relative;
        /* left: 0%;
        z-index: 2; */
    }
}
