:root {
    --main-color: #14213D;
    --second-color: #E6E6E6;
    --third-color: #FCA311;
}
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Box sizing will toggle padding to fall inside or outside */
    /* font-family: 'Roboto', sans-serif; */
    
}

.top-container {
    /* border-bottom: 15px solid var(--main-color); */
    display: flex;
    width: 100%;
    height: 70vh;
}
/* -------------------------------------------------------- */
/* NAVIGATION & LINKS */

#nav-menu {
    text-align: right;
}

#nav-menu li {
 display: inline-block;
 margin: 10px;
 font-size: 16px;
 font-weight: 400;
 font-family: 'DM Mono', monospace;
}

li {
    list-style: none;
    font-family: 'Jost', sans-serif;
    color: var(--second-color);
    text-decoration: none;
}

#nav-menu li:hover {
    color: var(--third-color);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h2 {
    font-family: 'Jost', sans-serif;
    font-size: 30pt;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body {
    background-color: #E6E6E6;
}


/* -------------------------------------------------------- */
/* LEFT SIDE */

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: .3;
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.main-title {
    font-size: 3rem;
    text-align: left;
    font-family: 'DM Mono', monospace;
}

.title {
    position: relative;
    font-family: 'Jost', sans-serif;
    color: var(--second-color);
}

.circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25vw;
    width: 25vw;
    
}

.outer-circle {
    display: flex;
    position: absolute;
    align-self: center;
    background-color: var(--second-color);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    border-style: solid;
    border-width: 0.9em;
    border-color: var(--main-color);
    left: 43%;
    z-index: 1;
    /* box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.25), -8px -8px 15px 0 #14203D; */

}

.profile-img {
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    height: 60%;
    width: 60%;
    border-style: solid;
    border-width: 1.7em;
    border-color: var(--main-color);
    left: 37.5%;
    z-index: 2;
    box-shadow: 17px 17px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 #ffffff;

}

.header-p{
    font-family: 'DM Mono', monospace;
    color:var(--second-color);
    text-align: center;
}
/* -------------------------------------------------------- */
/* RIGHT SIDE */

.bg {
    animation:slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #14213D 50%, #FCA311 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:20s;
  }
  
  .bg3 {
    animation-duration:20s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: .7;
    /* background-color:var(--second-color); */
    width: auto;
    text-align: center;
    justify-content: center;
    margin-top: 0%;
}

.header-hero {
    display: flex;
    height: 100%;
    text-align: left;
    padding-left: 5%;
}

#title-hero {
    font-size: 5em;
    text-align: left;
    padding-left: 15%;
    color: var(--second-color);
    font-family: 'DM Mono', monospace;
}
.hero-text {
    color: #FCA311;
    font-family: 'DM Mono', monospace;
}
.center {
    text-align: center;
}
.subtitle {
    text-align: left;
    color: var(--second-color);
    font-family: 'DM Mono', monospace;
    font-size: small;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.about-me-blurb {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    color: var(--second-color);
    font-family: 'DM Mono', monospace;
    width: 100%;
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 15%;

}
/* -------------------------------------------------------- */
/* BUTTON CONFIGS */

#download-btn {
    background-color: var(--third-color);
    border: 25px;
    padding: 10px 40px;
    border-radius: 25px;
    color: var(--main-color);
    text-decoration: none;
    /* box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -5px -5px 5px 0 #f8f8f8; */

}

#download-btn:hover {
    background-color: #D6820E;
    /* font-weight: 600; */
}

.btn {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color:var(--main-color);
    padding: 5%;
    margin-top: 25px;
    border-radius: 10%;
    color: var(--second-color);
    text-decoration: none;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25), -6px -6px 12px 0 #f8f8f8;
    margin-bottom: 25px;
    align-self: center;
}

.btn:hover {
    background-color: var(--third-color);
    /* font-weight: 600; */
}

/* ------------------------------------------- */
/* SOCIAL BUTTONS & TEXT */

.intro-text {
    color: var(--main-color);
    flex: 1;
    align-self: center;
}

.social {
    text-align: right;
    padding: 5px;
    align-self: center;
    background-color: var(--third-color);
    padding: 15px 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.icon {
    fill: green;
}

.follow-me-text {
    font-family: 'DM Mono', monospace;
    writing-mode: vertical-lr;
    padding-bottom: 15px;
    font-size: 12pt;
    color: var(--main-color);
}
/* ------------------------------------------- */
/* SKILLS SECTION */

.skills-bkg {
    background-color: var(--main-color);
    border-top-right-radius: 300px 300px;
}

#skills-section {
    border-bottom-left-radius: 250px 300px;
    border-top-right-radius: 300px;
    border-top: 15px solid var(--main-color);
    /* border-right: 15px solid var(--main-color); */
    background-color: #E6E6E6;
    font-family: 'Jost', sans-serif;
    font-size: 30pt;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 33%;
}
.skill-box {
    border-bottom-left-radius: 250px 300px;
    border-top-right-radius: 250px 300px;
    justify-content: center;
    align-self: center;
    display: block;
    font-family: 'DM Mono', monospace;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    font-size: 1rem;
    /* justify-content: center; */
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 12px 0 #f8f8f8;
    /* border-radius: 25px; */
    padding: 0 15px;
    margin: 2%;
}

.skills-title {
    align-self: center;
    justify-self: center;
    margin-top: 0;
    padding: 0;
    margin-bottom: 5px;
    font-family: 'DM Mono', monospace;
}

.skills{
    border-bottom-left-radius: 250px 300px;
    border-top-right-radius: 250px 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    /* min-width: 400px; */
    height: 150px;
    padding: 5px;
    margin: 2%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid var(--second-color);
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 12px 0 #f8f8f8;
    /* border-radius: 25px; */
    padding: 0 3.5rem;
    margin: 2%;
}

.skills:hover {
    transform: scale(1.02);
}

.html, .css, .and, .javascript, .react, .bootstrap{
    align-self: center;
    padding: 1rem;
    min-width: 100px;
    margin: 5px;
}

.learning {
    color: var(--third-color);
}
/* ------------------------------------------- */
/* PORTFOLIO SECTION */

.port-bkg {
    background-color: var(--second-color);
    /* border-right: 15px solid var(--main-color); */
}

#portfolio-section {
    
    /* border-top-right-radius: 230px; */
    /* border-bottom-right-radius: 230px; */
    /* border-right: 15px solid var(--main-color); */
    /* border-bottom: 15px solid var(--main-color); */
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color: var(--main-color);
    border-top-left-radius: -25px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 33%;

}

.portfolio-title {
    font-family: 'DM Mono', monospace;
    /* display: flex; */
    margin-top: 20px;
    padding: 0 2em;
    margin-bottom: 40px;
    color: var(--second-color);

}

.portfolio-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.portfolio-blocks {
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.portfolio-pics {
    width: 150px;
    height: 150px;
    padding: 0.5rem;
    margin: 5px;
    border: thick #ffffff;
    border-radius: 25px;
}

.images {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
}

.portfolio-titles{
    margin: 5px;
    color: var(--second-color);
    text-align: center;
    font-family: 'DM Mono', monospace;

}

.portfolio-pics:hover {
    transform: scale(1.03);
    color: var(--third-color);
}
.portfolio-titles:hover {
    color: var(--third-color);
}
/* ------------------------------------------- */
/* EDUCATION SECTION */

.education-bkg {
background-color: var(--main-color);
}
.timeline {
    white-space: nowrap;
    overflow-x: hidden;
  }
  
  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
  }
  
  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 150px;
    height: 3px;
    background: #fff;
  }
  
  .timeline ol li:last-child {
    width: 150px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 4px;
  }
  
  .timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F45B69;
  }
  
  .timeline ol li div {
    
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 0.8rem;
    font-family: 'DM Mono', monospace;
    white-space: normal;
    color: black;
    background: white;
  }
  
  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }
  
  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* TIMELINE ARROWS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .timeline .arrows .arrow__prev {
    margin-right: 20px;
  }
  
  .timeline .disabled {
    opacity: .5;
  }
  
  .timeline .arrows img {
    width: 25px;
    height: 25px;
  }
  
  

#education {
    border-top-left-radius: 250px;
    background-color: var(--third-color);
    width: 100vw;
    height: 50vh;
    margin-top: 0;
    padding: 0 2em;
    margin-bottom: 0;
    color: var(--main-color);
    height: auto;
}

.education-title {
    font-family: 'DM Mono', monospace;
    color: var(--main-color);
    margin-bottom: 25px;
}
/* ------------------------------------------- */
/* FOOTER SECTION */

#contact {
    background-color: var(--second-color);
    height: 30vh;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0;
}

.contact-title {
    font-family: 'DM Mono', monospace;
    color: var(--main-color);
}

/* ------------------------------------------- */
/* RESPONSIVE ATTRIBUTES */

@media (max-width: 900px) {
    .top-container {
        flex-direction: column;
    }
    .profile-img {
        align-self: center;
        margin-bottom: 2%;
        left: 0;
        height: auto;
        width: 25vw;
        border-style: solid;
        border-width: 0.25em;
        border-color: var(--second-color);
        position: relative;
        /* left: 0%;
        z-index: 2; */
    }
}
